body{
    overflow: hidden;
}

.conteiner{

}

.conteiner .text{
    position: relative;
    color: #A387F5;
    font-size: 35px;
    font-weight: 500; 
}

.conteiner .text.first-text{
    color: white; 
}
   
.text.second-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E1065;
    border-left: 2px solid violet;
    animation: animate 4s steps(12) infinite;
}

::placeholder {
    /* Cambia el color del texto del placeholder */
    color: #ffffff; /* Color blanco o el color que desees */
    opacity: 1; /* Ajusta la opacidad del texto del placeholder */
  }

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

@media screen and (min-width: 900px) {
    .conteiner .text{
        font-size: 45px;
        font-weight: 600; 
    }
  }

  @media screen and (min-width: 1200px) {
    .conteiner .text{
        font-size: 50px;
        font-weight: 850; 
    }
  }

